.side-bar{
    display:flex;
    flex: 0.5;
    flex-direction: column;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    padding: 2opx;
    border-right: 1px light gray;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}